button {
  -webkit-appearance: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  margin: 40px auto 0;
  display: block;
  cursor: pointer;
  transition: color .3s linear;
  outline: 0;

  &:hover {
    color: green;
    border-color: green;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  max-width: 1000px;
  margin: 20px auto 0;
}

.bar-wrapper {
  p {
    text-align: center;
  }

  &:first-child {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-top: 10px;
  }
}

.health-bar-wrapper {
  position: relative;
  overflow: hidden;
  border: 1px solid #333;
  width: 30px;
  height: 150px;
  margin: 0 auto;

  &.danger-one .health-bar {
    background-color: orange;
  }

  &.danger-two .health-bar {
    background-color: red;
  }
}

.health-bar {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: green;
  transition: all .3s ease-in;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-wrapper,
.player-wrapper {
  flex-grow: 1;
}

.player {
  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
  
    &.reverse-layout {
      flex-direction: row-reverse;
    }
  }

  &-score {
    font-size: 20px;
  }
}

.display-wrapper {
  background-color: #e3f3f9;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  height: 100px;
  border: 2px solid #333;
  flex-basis: 200px;
}

.dice {
  width: 50px;
  height: 50px;
  background-color: #d2d1d1;
  border-radius: 4px;
  border: 1px solid #333;
  padding: 5px;
  display: flex;
  position: relative;
  margin-bottom: 20px;

  &.one-dot {
    justify-content: center;

    .dice-dot {
      justify-content: center;
      align-self: center;
    }
  }

  &.four-dot, 
  &.six-dot {
    .dots-rows {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  &.five-dot {
    .dots-rows {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .dots-rows {
    width: 100%;
  }

  .dots-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: auto;
    align-self: center;

    &--special {
      & span {
        &:nth-child(2) {
          top: calc((100%/2) - 5px);
          position: absolute;
          left: 50%;
          margin-left: -5px;
        }

        &:last-child {
          position: absolute;
          bottom: 5px;
          right: 5px;
        }
      }
    }
  }

  &-dot {
    width: 10px;
    height: 10px;
    background-color: #333;
    display: block;
    border-radius: 50%;
  }
}

.dice-holder {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 120px;

  &-inner {
    position: absolute;
    width: 100%;
    top: -120px;
    left: 0;
    transition: all .4s ease-in-out;
  }

  &--active {
    .dice-holder-inner {
      top: 0;
    }
  }
}

.winner,
.looser {
  text-align: center;
  font-size: 40px;
}

.winner {
  color: green;
}

.looser {
  color: red;
}
